* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: ProximaNova-Light;
  src: url(/fonts/ProximaNova-Light.ttf);
}
@font-face {
  font-family: ProximaNova-Regular;
  src: url(/fonts/ProximaNova-Regular.ttf);
}
@font-face {
  font-family: ProximaNova-Bold;
  src: url(/fonts/ProximaNova-Bold.ttf);
}
@font-face {
  font-family: AdobeInvisFont;
  src: url();
}
@font-face {
  font-family: MyriadPro-Regular;
  src: url();
}
.container {
  display: flex;
  flex-direction:column ;
  /* border: blue solid 2px; */
  align-items:center;
}
.name {
  display: inline-block;
  margin: 100px 0px 120px 0px;
  font-family: ProximaNova-Regular;
  font-size: 36px;
}
.card-window {
  display: flex;
  width: 1140px;
  flex-direction:row ;
  justify-content: space-between;
/* border: black solid 2px; */
}
.card {
  /* background-color: beige; */
  display: flex;
  flex-direction:column ;
  align-items: center;
  /* border: red solid 2px; */
  width: 265px;
  height: 370px;
}
.card-image {
  /* margin-top: 30px; */
}
.card-description {
  margin-bottom: 10px;
  font-family: ProximaNova-Light;
  font-size: 18px;
}
.card-price {
  margin-bottom: 10px;
  font-family: ProximaNova-Bold;
  font-size: 18px;
}
.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  border: #23bac1 solid 1px;
  color: #23bac1;
  font-family: ProximaNova-Bold;
  font-size: 16px;
  text-decoration: none;
}
.img-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 212px;
  overflow: hidden;
}