@font-face {
  font-family: "Roboto Regular";
  src: url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../assets/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Black";
  src: url("../assets/fonts/Montserrat-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Black";
  src: url("../assets/fonts/ProximaNova-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms Regular";
  src: url("../assets/fonts/TTNorms-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms Black";
  src: url("../assets/fonts/TTNorms-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #07080a;
  background-image: url(/assets/img/hero-background.png);
  background-position: 100% 0;
  background-repeat: no-repeat;
  color: #ffffff;
  filter: blur();
}

section {
  padding: 50px;
}

.spacer {
  content: "";
  position: absolute;
  top: 750px;
  height: 110px;
  width: 100%;
  background: #0a0e11;
  filter: blur(20px);
  margin-bottom: 20px;
  z-index: -1;
}

.input {
  width: 100%;
  height: 64px;
}

@media (max-width: 1200px) {
  body {
    background-position: 15% 0;
  }
}
@media (max-width: 991px) {
  body {
    background-position: 30% 0;
  }
}
@media (max-width: 576px) {
  body {
    background-position: 40% 0;
  }
}
.hero {
  display: flex;
  padding-top: 58px;
}
.hero-block {
  display: flex;
  flex-direction: column;
}
.hero__title {
  font-family: "Montserrat Bold";
  font-size: 48px;
  line-height: 59px;
  font-weight: 700;
  max-width: 700px;
  text-transform: uppercase;
  padding-bottom: 35px;
}
.hero .red-text {
  font-family: "Montserrat Black";
  color: #d02928;
}
.hero__description {
  background-color: #d02928;
  max-width: 583px;
  min-height: 63px;
  -webkit-clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
          clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
  z-index: 1;
}
.hero__span {
  font-family: "Roboto Regular";
  margin: auto;
  font-size: 20px;
  text-align: center;
  padding: 0 25px;
}

.subtitle__img {
  padding-right: 9px;
}
.subtitle__block {
  font-family: "Roboto Regular";
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 470px;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 36px;
    line-height: 48px;
  }
}
@media (max-width: 575px) {
  .hero__title {
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 429px) {
  .hero__title {
    font-size: 20px;
    line-height: 26px;
  }
}
.offer__border {
  padding: 75px 120px;
  border: 5px solid #d02928;
  box-shadow: 0 0 30px #d02928, inset 0 0 30px #d02928;
  box-sizing: border-box;
  border-radius: 100px;
}
.offer-block {
  display: flex;
  justify-content: space-between;
}
.offer__title {
  font-family: "Proxima Nova Black";
  text-transform: uppercase;
  width: 560px;
  height: 351px;
  font-size: 56px;
  line-height: 120.5%;
  text-align: center;
}
.offer__title .red-text {
  color: #d02928;
}
.offer__form {
  width: 360px;
}

.form__input {
  font-family: "TT Norms Regular";
  background-color: #07080a;
  color: #ffffff;
  padding: 35px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  margin-bottom: 15px;
}
.form__input :active {
  background-color: #07080a;
  color: #ffffff;
}
.form__checkbox-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8%;
  margin-bottom: 15px;
}
.form__checkbox-block__label {
  margin-left: 5px;
}
.form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "TT Norms Regular";
  font-size: 16px;
}
.form__checkbox::before {
  background-color: rgba(255, 255, 255, 0.5);
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 8px;
  margin-right: 8px;
}
.form__checkbox:checked::before {
  background-color: #d02928;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 4px solid #808080;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 8px;
}
.form__label .red-text {
  color: #d02928;
}
.form__button {
  font-family: "TT Norms Black";
  background-color: #d02928;
  border: none;
  box-shadow: 0 0 30px #d02928;
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  border-radius: 25px;
  transition: 300ms;
}
.form__button:hover {
  background-color: #dd4f4e;
}

@media (max-width: 1399px) {
  .offer__border {
    padding: 75px 75px;
  }
  .form__input {
    padding: 26px;
  }
}
@media (max-width: 1199px) {
  .offer {
    padding-top: 50px;
  }
  .offer-block {
    flex-direction: column;
    align-items: center;
  }
  .offer__title {
    font-size: 56px;
    margin-bottom: 50px;
  }
  .offer__form {
    width: 80%;
  }

  .form__input {
    padding: 35px;
  }
}
@media (max-width: 991px) {
  .offer__form {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .offer__title {
    width: auto;
    font-size: 36px;
    height: auto;
    margin-bottom: 35px;
  }
  .offer__border {
    padding: 40px 20px;
  }
}
@media (max-width: 575px) {
  .offer__title {
    font-size: 28px;
  }

  .form__input {
    padding: 25px;
  }
  .form__button {
    font-size: 18px;
  }
}
@media (max-width: 429px) {
  .offer__title {
    font-size: 22px;
  }

  .form__button {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */