
body {
  background: linear-gradient(90deg,
  rgba(255, 255, 255, 0) 1.8em, rgba(135, 206, 235, .5) 2em)
  4em 0 repeat-y,
linear-gradient(
  rgba(255,255,255, 0) 1.9em, rgba(0, 0, 0, .15) 2em)
0 0;
background-size: 2em 2em;
background-color: ivory;
font: 16px/2 'Trebuchet MS', Verdana, sans-serif;
}
nav {
  margin-left: em;
}
div{
    margin: 2.5em 3em 1em 8em;
  /* margin-left: 5%;
  margin-right: 5%; */
}
h1{
  text-align: center;
}
/* p {
  margin: 2.5em 3em 1em 3em;
} */
.italic {
  font-style: italic;
}
.strong {
  font-weight: bold;
}
#fnav  {
  display: block;
  position: relative;
  margin: 0 0 0 0;
  width: 20em;
  text-align: right;
}
#author {
  position: relative;
  display: block;
  margin: 0 0 0 0;
  width: 20em;
  text-align: right;
}