@font-face {
    font-family: "Roboto Regular";
    src: url("../assets/fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../assets/fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Black";
    src: url("../assets/fonts/Montserrat-Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova Black";
    src: url("../assets/fonts/ProximaNova-Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Norms Regular";
    src: url("../assets/fonts/TTNorms-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Norms Black";
    src: url("../assets/fonts/TTNorms-Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
