@font-face {
    font-family: "Museo Sans Light";
    src: url(../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot);
    src: url(../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf) format(truetype);
    src: url(../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Museo Sans Bold";
    src: url(../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot);
    src: url(../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf) format(truetype);
    src: url(../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}
