* {
    box-sizing: border-box;
    @include f-reg;
}
body {
    padding-bottom: 1000px;
}
.container {
    padding: 0;
}
@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1170px;
    }
}
@media (max-width: 1200px) {
    .container {
        width: 760px;
        padding: 0 15px;
    }
    .hero {
        &-block {
            flex-direction: column;
        }
        &-text {
            width: 100%;

            &__subtitle {
                width: 300px;
                padding-top: 10px;
                padding-bottom: 30px;
            }
        }
        &-image-block {
            width: 100%;
        }
    }
}
@media (max-width: 768px) {
    .container {
        width: 560px;
    }
    .navbar__contacts {
        display: none;
    }
}
@media (max-width: 567px) {
    .container {
        width: 100%;
    }
    .hero {
        &-block {
            align-items: center;
        }
    }
    .navbar__button {
        font-size: 10px;
        padding: 26px 14px;
    }
    .navbar__logo {
        max-width: 120px;
    }
}
@media (max-width: 320px) {
    .navbar__logo {
        max-width: 91px;
    }
    .navbar__button {
        width: 137px;
        height: 39px;
    }
    .hero-text__subtitle {
        width: auto;
    }
}
