.hero {
    display: flex;
    &-block {
        display: flex;
        flex-direction: column;
    }
    &-title {
        display: flex;
    }
}
.subtitle {
    &-block {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
