.hero {
    display: flex;
    padding-top: 58px;
    &-block {
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-family: "Montserrat Bold";
        font-size: 48px;
        line-height: 59px;
        font-weight: 700;
        max-width: 700px;
        text-transform: uppercase;
        padding-bottom: 35px;
    }
    .red-text {
        font-family: "Montserrat Black";
        color: $clr-hlight;
    }
    &__description {
        background-color: $clr-hlight;
        max-width: 583px;
        min-height: 63px;
        clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
        z-index: 1;
    }
    &__span {
        font-family: "Roboto Regular";
        margin: auto;
        font-size: 20px;
        text-align: center;
        padding: 0 25px;
    }
}
.subtitle {
    &__img {
        padding-right: 9px;
    }
    &__block {
        font-family: "Roboto Regular";
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 470px;
        padding-bottom: 24px;
    }
}

@media (max-width: 768px) {
    .hero {
        &__title {
            font-size: 36px;
            line-height: 48px;
        }
    }
}
@media (max-width: 575px) {
    .hero {
        padding-top: 24px;
        &__span {
            font-size: 14px;
        }
        &__title {
            font-size: 28px;
            line-height: 32px;
        }
    }
}
@media (max-width: 429px) {
    .hero {
        &__title {
            font-size: 20px;
            line-height: 26px;
        }
    }
    .subtitle {
        &__img {
            max-width: 46px;
        }
    }
}