body {
    background-color: $clr-main;
    background-image: url(/assets/img/hero-background.png);
    background-position-x: 45%;
    background-repeat: no-repeat;
    color: $clr-txt;
}
section {
}
.spacer {
    height: 110px;
    background: #0a0e11;
    filter: blur(20px);
    margin-bottom: 20px;
}
.input {
    width: 100%;
    height: 64px;
}
@media (max-with: 1400px) {
    .input {
        width: 270px;
        height: 48px;
    }
}
@media (max-with: 1200px) {
}
@media (max-with: 991px) {
}
