body {
    background-color: $clr-main;
    background-image: url(/assets/img/hero-background.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    color: $clr-txt;
    filter: blur();
}
section {
    padding: 50px;
}
.spacer {
    content: "";
    position: absolute;
    top: 750px;
    height: 110px;
    width: 100%;
    background: #0a0e11;
    filter: blur(20px);
    margin-bottom: 20px;
    z-index: -1;
}
.input {
    width: 100%;
    height: 64px;
}
@media (max-width: 1400px) {
    .input {
    }
}
@media (max-width: 1200px) {
    body {
        background-position: 15% 0;
    }
}
@media (max-width: 991px) {
    body {
        background-position: 30% 0;
    }
}
@media (max-width: 576px) {
    body {
        background-position: 40% 0;
    }
}
