.hero {
    display: flex;
    background-color: $clr-bckgnd;
    padding: 50px 0px;
    &-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &-image-block {
        display: flex;
        justify-content: center;
        &__image {
            width: 100%;
            max-width: 100%;
            height: auto;
            box-shadow: 10px 5px 20px #dfdfdf;
        }
    }
    &-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 45%;
        &__title {
            display: flex;
            font-size: 41px;
            @include f-bold;
            padding-top: 28px;
            // padding-bottom: 30px;
            line-height: 1.35em;
            margin-left: -3px;
        }
        &__subtitle {
            display: flex;
            font-size: 20px;
            @include f-bold;
            padding-top: 33px;
            padding-bottom: 66px;
        }
    }
    &-list {
        display: flex;
        flex-direction: column;
        line-height: 24px;
        &__element {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 320px;
            &:first-child {
                padding-bottom: 26px;
                font-size: 14px;
            }

            &:nth-child(2) {
                padding-bottom: 22px;
                font-size: 14px;
            }

            &:last-child {
                padding-bottom: 33px;
                font-size: 14px;
            }
        }
        &__image {
            margin-right: 30px;
        }
    }
}
