.navbar {
    display: flex;
    &__block {
        display: inherit;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__info {
        display: inherit;
    }
    &__contacts {
        margin-right: 30px;
        display: inherit;
        flex-direction: column;
        justify-content: center;
        .adress {
            display: inherit;
            justify-content: flex-end;
            font-size: 14px;
            letter-spacing: -0.5px;
        }
        .phone {
            display: inherit;
            justify-content: flex-end;
            font-size: 20px;
            @include f-bold;
            color: $clr-text;
            outline: none;
            text-decoration: none;
            &:hover {
                color: $clr-text;
                outline: none;
                text-decoration: none;
                color: lighten($clr-text, 30%);
            }
        }
    }
    &__button {
        width: 170px;
        height: 49px;
        // display: inherit;
        // justify-content: center;
        // color: $clr-text;
        // font-size: 13px;
        // @include f-bold;
        // align-items: center;
        // padding: 20px 18px;
        // background-color: $clr-main;
        // border-radius: 10px;
        // outline: none;
        // text-decoration: none;
        // line-height: 1em;
        // transition: 0.1s;
        // &:hover {
        //     background-color: lighten($clr-main, 10%);
        //     outline: none;
        //     text-decoration: none;
        // }
    }
}
