.navbar {
    display: flex;
    &-block {
        display: inherit;
        justify-content: space-between;
        width: 100%;
    }
    &__info {
        display: inherit;
        background-color: yellow;
    }
    &__contacts {
        .adress {
            display: block;
        }
        .phone {
            display: block;
        }
    }
    &__button {
        padding: 18px 12px;
        border: solid black 1px;
    }
}
