.navbar {
    display: flex;
    &-block {
        display: inherit;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__info {
        display: inherit;
    }
    &__contacts {
        margin-right: 30px;
        display: inherit;
        flex-direction: column;
        justify-content: center;
        .adress {
            display: inherit;
            justify-content: flex-end;
            font-size: 13px;
            font-weight: 300;
        }
        .phone {
            display: inherit;
            justify-content: flex-end;
            font-size: 20px;
            font-weight: 700;
            color: $clr-text;
            outline: none;
            text-decoration: none;
            &:hover {
                color: $clr-text;
                outline: none;
                text-decoration: none;
            }
        }
    }
    &__button {
        width: 170px;
        height: 49px;
        display: inherit;
        justify-content: center;
        color: $clr-text;
        font-size: 13px;
        font-weight: 700;
        align-items: center;
        padding: 30px 18px;
        background-color: $clr-main;
        border-radius: 10px;
        outline: none;
        text-decoration: none;
        line-height: 1em;
        &:hover {
            color: $clr-text;
            outline: none;
            text-decoration: none;
        }
    }
}
