.offer {

    display: flex;
    background-image: url(../../images/offer-img.png) ; 
    background-repeat: no-repeat;
    background-position: right;
    &-block {
        display: flex;
        justify-content: flex-start;
    }
    &-text {
        display: flex;
        flex-direction: column;
        padding: 84px 0;
        width: 50%;
    }
    &__title {
        @include f-bold;
        font-size: 24px;
        width: 350px;
        margin-bottom: 27px;
        @media (max-width: 430px) {
            width: 100%;
        }
    }
    &__subtitle {
        width: 240px;
        margin-bottom: 27px;
    }
    &__form {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__input {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        @media (max-width: 567px) {
            width: 100%;
        }
    }
    &__button {
        width: 100%;
        height: 70px;
        margin-bottom: 20px;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__spam {
            &:first-child {
                width: 50%;
            }
            &:last-child {
                width: 42%;
                & b {
                    @include f-bold;
                }
            }
        }
    }
    &__block-image {
        display: flex;
        justify-content: flex-start;
        width: 50%;
        height: auto;
        overflow: visible;

    }
    &__image {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
}
